<!--{{#if hide}}
     <footer id="footer" >
 {{else}}
     <footer id="footer" class="navbar-fixed-bottom">
 {{/if}} -->
   <footer id="footer" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    ZEBRA and the stylized Zebra head are trademarks of Zebra Technologies Corp., registered in many jurisdictions worldwide. All other trademarks are the property of their respective owners. &copy;2020 Zebra Technologies Corp. and/or its affiliates.<br><a href="https://www.zebra.com/us/en/about-zebra/company-information/legal.html">Legal</a> | <a href="https://www.zebra.com/us/en/about-zebra/company-information/legal/terms-of-use.html">Terms of Use</a> | <a href="https://www.zebra.com/us/en/about-zebra/company-information/legal/privacy-statement.html">Privacy Policy</a> 
                </div>
                <!--
                <div class="col-sm-2">
                    <ul class="social-icons">
                        <li><a href="http://www.facebook.com/pages/Zebra-Technologies/107703715989073"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ZebraDevs"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.youtube.com/zebratechnologies/"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/groups?home=&gid=3220074&trk=anet_ug_hm&goback=%2Egmr_3220074"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/developer-zebra"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                -->
            </div>
        </div>
    </footer><!--/#footer-->
