
<section class="hero-image">
       <div class="row">
           <div class="col-xs-12"><h2 class="main-head">{{title}}</h2></div>
       </div>
       <div class="row">
           <div class="col-xs-12"><img src="{{image}}" class="img-responsive"></div>
       </div>
       <div class="row">
           <div class="col-md-8 col-md-offset-2"><h2 class="text-center section-head">{{subtitle}}</h2></div>
       </div>
       <div class="row">
           <div class="col-md-8 col-md-offset-2"><p>{{copy}}</p></div>
       </div>
</section>   
