<aside class="tree-sidebar">            
            <div class="row">
                <div class="col-sm-12">
                    <div class="sidebar-container">
                        <ul  class="" >
                            <li class="">
                                <span class="arrow"></span>
                                <a>
                                In This Document
                                </a> 
                                    <ul style="display:block" id="indoc">
                                    </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</aside>

<script type="text/javascript">
        var indoclist = "";
    $(document).ready(function() {
        // $('h2').each(function(index, value){
        //       if($(this).attr('id')){
        //         var anchor = "#" + $(this).attr('id');
        //         var text = $(this).text();
        //         var li = "<li><a href='" + anchor + "'>" + text + "</a>" ;
        //         $('#indoc').append(li);               
        //       }

              
        // });
        
    });


</script>