<div class="col-sm-6 col-md-4 tile hidden">
    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
        <div class="team-img" style="background-image: url('{{ url }}/{{ image }}')">
            
        </div>
        <div class="team-info">
            <h3>{{ title }}</h3>
            <span></span>
        </div>
        <div class="team-description">
            {{ description }}
        </div>
        <p><a class="btn btn-primary btn-lg" href="{{ url }}">See Details</a></p>
        <ul class="social-icons">
            <li><a href="{{{download}}}"><i class="fa fa-download"></i> </a></li>
            <li><a href="{{{source}}}"><i class="fa fa-github"></i> </a></li>
            <li class="pull-right">{{product}} {{productversion}}</li>
        </ul>

    </div>
</div>

<div class="col-md-12 viewlist ">
    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
        <div class="row">
            <div class="col-md-8">
                    <article class="media clearfix">
                        <div class="entry-thumbnail pull-left">
                            <img class="img-responsive" src="{{ url }}/{{ image }}" alt="">
                            <span class="post-format post-format-gallery">
                                {{#if downloads}}

                                    <a data-html="true" data-container="body" data-popover-content="#download{{@index}}" data-placement="bottom" data-toggle="popover" ><i class="fa fa-3x fa-download"></i> </a>
                                {{else}}
                                    <a href="{{{download}}}"><i class="fa fa-3x fa-download"></i> </a>
                                {{/if}}
                            </span>
                        </div>
                        <div class="media-body">
                            <header class="entry-header">
                                <div class="entry-date"></div>
                                <h2 class="entry-title"><a href="{{ url }}">{{ title }}</a></h2>
                            </header>

                            <div class="entry-content">
                                <P>{{ description }}</P>
                                <a class="btn btn-primary btn-lg" href="{{ url }}">See Details</a>
                            </div>

                            <footer class="entry-meta">
                                
                                <span class="entry-author">
                                    {{#if sources}}
                                        <a data-html="true" data-container="body" data-popover-content="#source{{@index}}" data-placement="bottom" data-toggle="popover"><i class="fa fa-github ">
                                    {{else}}
                                        <a href="{{{source}}}"><i class="fa fa-github ">
                                    {{/if}}
                                        
                                    </i> Source</span></a>
                            </footer>
                        </div>
                    <div class="hidden" id="download{{@index}}">
                        <div class="popover-heading">
                            Available Downloads
                        </div>

                        <div class="popover-body">
                        <ul class="nav nav-pills nav-stacked">
                        {{#each downloads}}
                            <li role="presentation" ><a href="{{{this.url}}}">{{this.title}}</a></li>
                        {{/each}}
                        </ul>
                        </div>
                    </div>
                    <div class="hidden" id="source{{@index}}">
                        <div class="popover-heading">
                            Available Source 
                        </div>

                        <div class="popover-body">
                        <ul class="nav nav-pills nav-stacked">
                        {{#each sources}}
                            <li role="presentation" ><a href="{{{this.url}}}">{{this.title}}</a></li>
                        {{/each}}
                        </ul>
                        </div>
                    </div>

                    </article>


            </div>
            <div class="col-md-4">
                <div class="entry-content">
                    <P><strong>{{product}} {{productversion}}</strong></P>
                </div>
                <div class="entry-meta">
                    <p>
                    {{#each devices}}
                        {{this}}
                    {{/each}}
                        
                    </p> 
                    <p>
                    {{this.content}}
                    </p>           
                </div>
            </div>

        </div>
    </div>

</div>


