<div class="col-sm-6 col-md-4">
    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
        <div class="team-img" style="background-image: url('{{ url }}/{{ image }}')">
            
        </div>
        <div class="team-info">
            <h3>{{ title }}</h3>
            <span></span>
        </div>
        <div class="team-description">
            {{ description }}
        </div>
        <p><a class="btn btn-primary btn-lg" href="{{ url }}">See Details</a></p>
        <ul class="social-icons">
            <li><a href="{{download}}"><i class="fa fa-download"></i> </a></li>
            <li><a href="{{source}}"><i class="fa fa-github"></i> </a></li>
            <li class="pull-right">{{product}} {{productversion}}</li>
        </ul>
    </div>
</div>


