<div class="col-sm-6">
    <div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
        <article class="media clearfix">
            <div class="entry-thumbnail pull-left">
                <img class="img-responsive" src="{{ url }}/{{ image }}" alt="">
                <span class="post-format post-format-gallery"><a href="{{download}}"><i class="fa fa-download"></i> </a></span>
            </div>
            <div class="media-body">
                <header class="entry-header">
                    <div class="entry-date"></div>
                    <h2 class="entry-title"><a href="{{ url }}">{{ title }}/a></h2>
                </header>

                <div class="entry-content">
                    <P>{{ description }}</P>
                    <a class="btn btn-primary btn-lg" href="{{ url }}">See Details</a>
                    <ul class="social-icons">
                        <li><a href="download"><i class="fa fa-download"></i> </a></li>
                        <li><a href="source"><i class="fa fa-github"></i> </a></li>
                    </ul>                
                </div>

                <footer class="entry-meta">
                    <span class="entry-author"><i class="fa "></i> {{product}} {{productVersion}}</span>
                    <span class="entry-author"><a href="{{source}}"><i class="fa fa-github "></i> Source</span>
                </footer>
            </div>
        </article>
    </div>

</div>






