{{#if this.menu.title}}
<div class="row">
    <div class="col-sm-12" id="guides">
        {{#if this.menu.img}}
            <img src="{{this.menu.img}}" alt="logo" style="max-height:42px" class="img-responsive"> 
        {{/if}}
        <strong>{{this.menu.title}}</strong>
    </div>
</div>
{{/if}}

<div class="row">
    <div class="col-sm-12" id="guides">
        <div class="waterfall columns" data-col-min-width="350" data-default-container-width="915" data-autoresize="true" >
            {{#each this.menu.items}}
              <div >
                    <a href="{{this.url}}"><h5>{{this.title}}</h5></a> 
                    {{#if this.items}}
                        <ul style="display:block;">
                        {{#each this.items}}
                            <li>
                                <a href="{{this.url}}"><span>{{this.title}}</span></a>
                                {{#if this.items}}
                                    <ul >
                                    {{#each this.items}}
                                        <li>
                                        <a href="{{this.url}}"><span>{{this.title}}</span></a>
                                        </li>
                                    {{/each}}                        
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}                        
                        </ul>
                    {{/if}}
                </div>
            {{/each}}

        </div>
    </div>
</div>
