

<nav id="toc"   data-toggle="toc" data-spy="affix" style="height: 75%; max-width: 225px; overflow-y: auto; ">
    
    <ul class="nav" >
        <li><strong>{{this.title}}</strong></li>
    </ul>
</nav>
{{> modal-smartdocs}}
<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.css">
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

    });


</script>