<!-- <nav id="automenu"   >
    {{#if this.automenu}}
    <ul id="sidebar" class="nav nav-stacked">
        {{#each this.automenu.items}}
            <li class="active">
                <a href="{{this.url}}">{{this.title}}</a>
                {{#if this.items}}
                <ul class="nav nav-stacked">
                    {{#each this.items}}
                    <li><a href="{{this.url}}">{{this.title}}</a></li>
                    {{/each}}
                </ul>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    {{/if}}

</nav> -->

<nav id="toc"   data-toggle="toc" data-spy="affix" style="height: 75%; max-width: 225px; overflow-y: auto; ">
    <ul class="nav" >
        <li><strong>{{this.title}}</strong></li>
    </ul>
</nav>

<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.css">
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js"></script>
<script type="text/javascript">
    // $(window).load(function() {
    //     var pathname = window.location.pathname.slice(0, -1);
    //     // console.log(pathname);
    //     var menuitem = $('.sidebar-container').find('a[href^="' + pathname + '"]').first()[0];
    //     var menulevel = $(menuitem).parents('ul').length;
    //     // console.log(menuitem);
    //     // console.log(menulevel);
    //     var parentLI = $(menuitem).parent().parent().parent();
    //     var itemarrow = parentLI.find('.arrow').first()[0];

    //     //now check for higher level
    //     if(menulevel==3){

    //         var parentFirstLevel = $(parentLI).parent().parent().first()[0];
    //         var parentarrow = $(parentFirstLevel).find('.arrow').first()[0];
    //         parentarrow.click();
    //     }

    //     if(menulevel>1){
    //         itemarrow.click();

    //     }
    //     $(menuitem).addClass('sidebar-selected');
    //     $(menuitem).parent().append('<ul style="display:block" id="indoc"></ul>')
    //     $('h2').each(function(index, value){
    //           if($(this).attr('id')){
    //             var anchor = "#" + $(this).attr('id');
    //             var text = $(this).text();
    //             var li = "<li><a href='" + anchor + "'>" + text + "</a>" ;
    //             $('#indoc').append(li);               
    //           }

              
    //     });
    // });
  // var $myNav = $('#toc');
  // $('body').scrollspy({
  //   target: $myNav
  // });

 
    function affix() {
        
        // Fit affix width to its parent's width
        var $affixElement = $('div[data-spy="affix"]');
        $affixElement.width($affixElement.parent().width());
 
        // Position of vertical scrollbar 
        var position = $(window).scrollTop();
        if (position >= offset) {
            $('.wrapper .section').each(function(i) {
                // Current content block's position less body padding
                var current = $(this).offset().top - offset - 1;
                
                // Add active class to corresponding affix menu while removing the same from siblings as per position) of current block
                if (current <= position) {
                    $('a', $affixElement).eq(i).addClass('active').siblings().removeClass('active');
                }
            });
        } else {
            $('a', $affixElement).find('.active').removeClass('active').end().find(":first").addClass('active');
        }
    };

    // $(window).on('scroll resize', function() {
    //     affix();
 
    // });

</script>