
{{> header}}
    <section id="blog">
        <div class="">
            <section class="content-with-sidebar">
            <div class="row">
                <div class="col-sm-3 " >
                    {{> menu}}

                </div>                
                <div class="col-sm-9 ">
                    <div class="row">
                        <div class="col-sm-12">
                            <section id="cta" class="wow fadeIn">
                                <div class="">
                                    <h1>{{ title }}</h1>
                                    <p><b>Note</b>: To display <u>only</u> the features present on a particular device, select one or more filters from the SmartDocs bar below.  
                                    <a id="smartdocs-help"><i class="fa fa-question-circle fa-lg"></i></a></p> 
                                    {{#if product}}
                                    {{ product }}
                                    {{/if}}
                                    {{#if productversion}}
                                     - {{ productversion }}
                                    {{/if}}
                                    {{#if mxversion}}
                                         - MX: {{mxversion}}
                                    {{/if}}
                                    </p>
                                </div>
                            </section>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        {{>navbar-smartdocs}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <section id="services" >
                                <div class="">
                                    {{{contents}}}
                                </div>
                                <div class="">
                                <!-- Start of content list -->
                                
                                {{#each collections.csp}}
                                {{#is ../csp this.csp}}
                                    {{#is this.parm.type "list"}}
                                        <div class="" >
                                    
                                    {{else}}
                                        <div class="" data-osx="{{this.osx}}" data-osx-end="{{this.osx-end}}" data-osx-specific-list="{{this.osx-specific-list}}" data-osx-specific="{{this.osx-specific}}" data-osx-exclude="{{this.osx-exclude}}" data-osx-exclude-end="{{this.osx-exclude-end}}" data-mx="{{this.mx}}" data-api="{{this.apilevel}}" data-smartdoc>

                                    {{/is}}
                                    <h2 class="">{{this.title}}</h2>
                                    <p class="">{{{this.contents}}}</p>
                                    {{#is this.type "parm"}}
                                        <blockquote>
                                        {{#if this.info}}
                                        <p><b>Note:</b> {{this.info}}</p>
                                        {{/if}}
                                        {{#if this.parm.presentif}}
                                        <p><b>Shown if:</b> {{this.parm.presentif}}</p>
                                        {{/if}}
                                        {{#if this.parm.name}}
                                        <p><b>Parm Name:</b> {{this.parm.name}}</p>
                                        {{/if}}
                                        {{#if this.parm.pivotal}}
                                        <!-- <p><b>Pivotal Parm:</b> {{this.parm.pivotal}}</p> -->
                                        {{/if}}
                                        {{#is this.parm.type "list"}}
                                        {{else}}
                                        <p><b>Requires:</b> 
                                            <ul>
                                            {{#if this.osx}}
                                                <li>OSX: {{this.osx}}{{#if this.osx-end}}- {{this.osx-end}}{{else}}+{{/if}}
                                                </li>
                                            {{/if}}
                                            {{#if this.osx-specific-list}}
                                                <li>OSX: {{this.osx-specific-list}} 
                                                
                                                <span class="label">ONLY</span>
                                                </li>
                                            {{/if}}
                                            {{#if this.osx-specific}}
                                                <li>OSX: {{this.osx-specific}}{{#if this.osx-specific-end}} - {{this.osx-specific-end}}{{else}}{{/if}} 

                                                <span class="label">ONLY</span>
                                                </li>
                                            {{/if}}
                                            {{#if this.osx-exclude}}
                                                <li class="text-danger">NOT IN OSX {{this.osx-exclude}}
                                                    {{#if this.osx-exclude-end}} - {{this.osx-exclude-end}}{{else}} OR HIGHER{{/if}}
                                                </li>
                                            {{/if}}
                                                <li>MX: {{this.mx}}+ </li>
                                            {{#if this.apilevel}}
                                                <li>Android API: {{this.apilevel}}+ </li>
                                            {{/if}}
                                           </ul>
                                        </p>
                                        {{/is}}
                                        

                                        
                                        </blockquote>
                                    {{/is}}
                                    
                                    
                                    {{#is this.parm.type "list"}}
                                    <div >
                                        <table class="table">
                                            <tr>
                                                <th>Option</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                           <!-- <th>Model</th> -->
                                                <th>Note</th>
                                                <th>Requires</th>
                                            </tr>
                                            {{#each this.parm.list}}
                                            <tr data-osx="{{this.osx}}" data-osx-end="{{this.osx-end}}" data-osx-specific-list="{{this.osx-specific-list}}" data-osx-specific="{{this.osx-specific}}" data-osx-exclude="{{this.osx-exclude}}" data-osx-exclude-end="{{this.osx-exclude-end}}" data-mx="{{this.mx}}" data-devicetype="{{this.devicetype}}" data-api="{{this.apilevel}}" data-smartdoc>
                                                <td>{{this.code}}</td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.description}}</td>
                                                <td>{{#if info}}
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{info}}" aria-hidden="true"></i>
                                    {{/if}}</td>

                                        <!-- DEVICETYPE LOGIC FOR LIST TABLE --> 
                                        
<!--                                                <td> 
                                                {{#if this.devicetype}}
                                                    {{#is this.devicetype "A,B"}} 
                                                    All
                                                {{else}}
 -->                                                    <!-- {{this.devicetype}} -->
<!--                                                     N/A on TC20/TC25
                                                    {{/is}}
                                                {{else}}
                                                    All
                                                {{/if}} 
                                                </td>
 -->                                                
                                                <td>
                                                    
                                                    {{#if this.osx}}
                                                        <p>OSX: {{this.osx}}{{#if this.osx-end}} - {{this.osx-end}}{{else}}+{{/if}}   
                                                        </p>
                                                    {{/if}}
                                                    {{#if this.osx-specific-list}}
                                                        <p>OSX: {{this.osx-specific-list}}
                                                         <span class="label">ONLY</span>
                                                        </p>
                                                    {{/if}}
                                                    {{#if this.osx-specific}}
                                                        <p>OSX: {{this.osx-specific}}{{#if this.osx-specific-end}} - {{this.osx-specific-end}}{{else}}{{/if}} 


                                                         <span class="label">ONLY</span>
                                                        </p>
                                                    {{/if}}
                                                    {{#if this.osx-exclude}}
                                                        <p class="text-danger">NOT IN OSX {{this.osx-exclude}}{{#if this.osx-exclude-end}} - {{this.osx-exclude-end}}{{else}} OR HIGHER{{/if}} 
                                                        </p>
                                                    {{/if}}

                                                        <p>MX: {{this.mx}}+ </p>
                                                    {{#if this.apilevel}}
                                                        <p>Android API: {{this.apilevel}}+ </p>
                                                    {{/if}}
                                                    
                                                </td> 
                                                
                                            </tr>
                                            
                                            {{/each}}
                                            
                                        </table>
                                    </div>	
                                    {{/is}}
                                    
                                </div> 
                                {{/is}}
                                    
                                {{/each}}  
                                </div><!--/.container-->
                                
                            </section><!--/#services-->
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
            </section>
        </div>
    </section>   

<!-- 
filtering 
--> 
<script type="text/javascript">
    var mxJSON = {
        csp: "{{csp}}",
        name: "{{title}}",
        parms: [
            {{#each collections.csp}}
                {{#is ../csp this.csp}}
                {{#if this.parm.name}}
                    {
                        {{#is this.parm.type "list"}}
                        {{else}}
                        requires: {
                            osx: "{{this.osx}}",
                            osxEnd: "{{this.osx-end}}",
                            mx: "{{this.mx}}",
                            api: "{{this.apilevel}}",
                            osxSpecific: "{{this.osx-specific}}",
                            osxSpecificList: "{{this.osx-specific-list}}",
                            osxExclude: "{{this.osx-exclude}}",
                            osxExcludeEnd: "{{this.osx-exclude-end}}",
                            devicetype: "{{this.devicetype}}"
                        },

                        {{/is}}
                        {{#is this.type "parm"}}
                            presentif: "{{this.parm.presentif}}",
                            name: "{{this.parm.name}}",
                            pivotal: "{{this.parm.pivotal}}",
                        {{/is}}
                        
                        
                        {{#is this.parm.type "list"}}
                        listitems: [
                                {{#each this.parm.list}}
                                {
                                    code: "{{this.code}}",
                                    name: "{{this.name}}",
                                    description: "{{this.description}}",
                                    requires: {
                                        osx: "{{this.osx}}",
                                        osxEnd: "{{this.osx-end}}",
                                        mx: "{{this.mx}}",
                                        api: "{{this.apilevel}}",
                                        osxSpecific: "{{this.osx-specific}}",
                                        osxSpecificList: "{{this.osx-specific-list}}",
                                        osxExclude: "{{this.osx-exclude}}",
                                        osxExcludeEnd: "{{this.osx-exclude-end}}"
                                    },

                                },
                        
                                {{/each}}
                        ]
                        {{/is}}
                    },
                    {{/if}}    
                {{/is}}
                    
            {{/each}}
        ]
    }

    console.log(JSON.stringify(mxJSON))
</script>

{{> footer}}


