
{{> header}}
    <section id="blog">
        <div class="">
            <section class="content-with-sidebar">
            <div class="row">
                <div class="col-sm-3 " >
                    {{> menu}}

                </div>                
                <div class="col-sm-9 ">
                    <div class="row">
                        <div class="col-sm-12">
                            <section id="cta" class="wow fadeIn">
                                <div class="">
                                    <h1>{{ title }}</h1>
                                    <p>
                                    {{#if product}}
                                    {{ product }}
                                    {{/if}}
                                    {{#if productversion}}
                                     - {{ productversion }}
                                    {{/if}}
                                    {{#if mxversion}}
                                         - MX: {{mxversion}}
                                    {{/if}}
                                    </p>
                                </div>
                            </section>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        {{>navbar-smartdocs}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <section id="services" >
                                <div class="">
                                    {{{contents}}}
                                </div>
                                <div class="">
                                <!-- Start of content list -->
                                
                                {{#each collections.csp}}
                                {{#is ../csp this.csp}}
                                    {{#is this.parm.type "list"}}
                                        <div class="" >
                                    
                                    {{else}}
                                        <div class="" data-osx="{{this.osx}}" data-osx-specific="{{this.osx-specific}}" data-mx="{{this.mx}}" data-api="{{this.apilevel}}" data-smartdoc>

                                    {{/is}}
                                    <h2 class="">{{this.title}}</h2>
                                    <p class="">{{{this.contents}}}</p>
                                    {{#is this.type "parm"}}
                                        <blockquote>
                                        {{#if this.parm.presentif}}
                                        <p><b>Shown if:</b> {{this.parm.presentif}}</p>
                                        {{/if}}
                                        {{#if this.parm.name}}
                                        <p><b>Parm Name:</b> {{this.parm.name}}</p>
                                        {{/if}}
                                        {{#if this.parm.pivotal}}
                                        <!-- <p><b>Pivotal Parm:</b> {{this.parm.pivotal}}</p> -->
                                        {{/if}}
                                        {{#is this.parm.type "list"}}
                                        {{else}}
                                        <p><b>Requires:</b> 
                                            <ul>
                                            {{#if this.osx}}
                                                <li>OSX: {{this.osx}}{{#if this.osx-specific}}{{else}}+{{/if}}
                                                </li>
                                            {{/if}}
                                                <li>MX: {{this.mx}}+ </li>
                                            {{#if this.apilevel}}
                                                <li>Android API Level: {{this.apilevel}}+ </li>
                                            {{/if}}
                                            </ul>
                                        </p>
                                        {{/is}}
                                        

                                        
                                        </blockquote>
                                    {{/is}}
                                    
                                    
                                    {{#is this.parm.type "list"}}
                                    <div >
                                        <table class="table">
                                            <tr>
                                                <th>Option</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Requires</th>
                                            </tr>
                                            {{#each this.parm.list}}
                                            <tr data-osx="{{this.osx}}" data-osx-specific="{{this.osx-specific}}" data-mx="{{this.mx}}" data-api="{{this.apilevel}}"  data-smartdoc>
                                                <td>{{this.code}}</td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.description}}</td>
                                                <td>
                                                    
                                                    {{#if this.osx}}
                                                        <p>OSX: {{this.osx}}{{#if this.osx-specific}}{{else}}+{{/if}} </p>
                                                    {{/if}}
                                                        <p>MX: {{this.mx}}+ </p>
                                                    {{#if this.apilevel}}
                                                        <p>Android API Level: {{this.apilevel}}+ </p>
                                                    {{/if}}
                                                    
                                                </td> 
                                                
                                            </tr>
                                            
                                            {{/each}}
                                            
                                        </table>
                                    </div>	
                                    {{/is}}
                                    
                                </div> 
                                {{/is}}
                                    
                                {{/each}}  
                                </div><!--/.container-->
                                
                            </section><!--/#services-->
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
            </section>
        </div>
    </section>   



{{> footer}}


