
{{> header}}


    <section id="blog">
        <div class="container">

            {{#if this.title}}
            <div class="row">
                <div class="col-sm-12" id="guides">
                    {{#if this.img}}
                        <!-- <img src="{{this.menu.img}}" alt="logo" style="max-height:42px" class="img-responsive">  -->
                    {{/if}}
                    <H1>{{this.title}}</H1>
                    <p>{{this.description}}
                </div>
            </div>
            {{/if}}
            <div class="row">
                <div class="col-sm-12">

                    <section id="services" >
                        <div class="">
                        <!-- Start of content list -->
                        {{#each content-items}}
                            {{> content-selector}}
                            
                        {{/each}}  
                        </div><!--/.container-->
                        
                    </section><!--/#services-->
                </div>
            </div>

        </div>
    </section>

{{> footer}}


