
{{> header}}

    <section id="blog">
        <div class="container">
            <!-- <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown"> Zebra Technologies Samples for Developers</h2>
                <p class="text-center wow fadeInDown">{{product}}
                {{#if version}} - {{version}}
                {{/if}}
                </p>
            </div> -->

            <div class="row">
                <div class="col-sm-12 ">
                    <i class="fa fa-3x fa-th-large pull-right" id="tile-view"></i>
                    <i class="fa fa-3x fa-th-list pull-right hidden" id="list-view"></i>
                    {{#if download}}
                        <a class="pull-right" href="{{{download.url}}}"><i class="fa fa-3x fa-download"  data-toggle="tooltip" data-placement="bottom" title="{{{download.title}}}"></i> </a>
                    {{/if}}
                    {{#if downloads}}
                        <a class="pull-right" data-html="true" data-container="body" data-popover-content="#downloadAll" data-placement="bottom" data-toggle="popover" ><i class="fa fa-3x fa-download"></i> </a>
                    {{/if}}
                </div>
                    <div class="hidden" id="downloadAll">
                        <div class="popover-heading">
                            Available Downloads
                        </div>

                        <div class="popover-body">
                        <ul class="nav nav-pills nav-stacked">
                        {{#each downloads}}
                            <li role="presentation" ><a href="{{{this.url}}}">{{this.title}}</a></li>
                        {{/each}}
                        </ul>
                        </div>
                    </div>

            </div>
            <div class="row">


{{#each collections.samples}}

    {{#if this.publish}}
        {{#if ../product}}
                {{#is product ../product}}           
                    {{#if ../productversion}}
                            {{#is productversion ../productversion}}           
                            {{> list-item}}
                            {{/is}}
                    {{else}}
                            {{> list-item}} 
                    {{/if}}
                
                {{/is}}
        {{else}}
                {{> list-item}} 
        {{/if}}
    {{/if}}
{{/each}}

            </div>
        </div>
    </section>
<script type="text/javascript">
    $(document).ready(function() {
        $("[data-toggle=popover]").popover({
            html : true,
            content: function() {
              var content = $(this).attr("data-popover-content");
              return $(content).children(".popover-body").html();
            },
            title: function() {
              var title = $(this).attr("data-popover-content");
              return $(title).children(".popover-heading").html();
            }
        });
    });
</script>
{{> footer}}



       
 

       
   
     
       
     

    