
{{> header}}
    <section id="blog">
        <div class="">
            <section class="content-with-sidebar">
            <div class="row">
                <div class="col-sm-3 fixed-column-left"  >
                    {{> menu}}

                </div>                
                <div class="col-sm-9 fixed-column-right">
                    <div class="row">
                        <div class="col-sm-12">
                            <section id="cta" class="wow fadeIn">
                                <div class="">
                                    <h1>{{ title }}</h1>
                                    <p>
                                    {{#if product}}
                                    {{ product }}
                                    {{/if}}
                                    {{#if productversion}}
                                     - {{ productversion }}
                                    {{/if}}
                                    {{#if mxversion}}
                                         - MX: {{mxversion}}
                                    {{/if}}
                                    </p>
                                </div>
                            </section>                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <section id="services" >
                                <div class="">
                                <!-- Start of content list -->
                                {{#each contentlist}}
                                    {{#if this.visible}}
                                    <div class="">
                                        <h2 class="">{{this.heading}}</h2>
                                        <p class="">{{this.description}}</p>
                                    </div>  
                                    {{/if}}
                                    {{#each this.items}}                                  
                                        <div class="row">
                                            <div class="features">
                                                
                                                <div class="col-sm-12">
                                                    <div class="media service-box">
                                                        <div class="pull-left">
                                                            <i class="fa "><img src="{{this.icon}}"/></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="{{this.url}}">{{this.title}}</a></h4>
                                                            <p>{{this.description}}</p>
                                                            {{#each this.urls}}
                                                            <a class="label label-default" href="{{this.url}}">{{this.title}}</a>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div><!--/.col-md-4-->
                                                
                                            </div>
                                        </div><!--/.row-->  
                                    {{/each}}
                                {{/each}}  
                                </div><!--/.container-->
                                
                            </section><!--/#services-->
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
            </section>
        </div>
    </section>    
{{> footer}}


