
{{> header}}

    <section id="meet-team">
        <div class="">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">{{title}}</h2>
                <p class="text-center wow fadeInDown"></p>
            </div>

            <div class="row">
{{#each collections.samples}}
    {{#if this.publish}}
              {{> list-item}}
    {{/if}}
{{/each}}

            </div>
        </div>
    </section>
{{> footer}}



       
 

       
   
     
       
     

    