
{{> header}}
    <section id="blog" >
        <div class="">
            <section class="content-with-sidebar">
            <div class="row">
                <div class="col-sm-12 ">

                    <div id="mainContent" class="row">
                        <div class="col-sm-12">
                            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                            <!-- Start of guide -->
                                <div class="service-box wow fadeInRight">
                                    <div class="">

                                        <p>{{{ contents }}}</p>
                                        


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div>
            </section>
        </div>
    </section>    

{{> modal}}
{{> footer}}

