
{{> header}}
    <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1>{{ title }}</h1>
                    <p>{{ description }}
                    </p>
                </div>
                <div class="col-sm-3 text-right">
		            {{#if download}}
		            <a class="btn btn-primary" href="{{{ download }}}"><i class="fa fa-download"></i> Download</a>
		            {{/if}}
		            {{#if downloads}}
		            <a class="btn btn-primary" data-html="true" data-container="body" data-popover-content="#download"
		            data-placement="bottom" data-toggle="popover" >
    				<i class="fa fa-download"></i> Download</a>
		            {{/if}}
		            {{#if source}}
		            <a class="btn btn-primary" href="{{{ source }}}"><i class="fa fa-github"></i> Source</a>
		            {{/if}}
		            {{#if sources}}
		            <a class="btn btn-primary" data-html="true" data-container="body" data-popover-content="#source"
		            data-placement="bottom" data-toggle="popover" >
    				<i class="fa fa-github"></i> Source</a>
		            {{/if}}

					<div class="hidden" id="download">
						<div class="popover-heading">
						    Available Downloads
						</div>

						<div class="popover-body">
						<ul class="nav nav-pills nav-stacked">
						{{#each downloads}}
  							<li role="presentation" ><a href="{{{this.url}}}">{{this.title}}</a></li>
						{{/each}}
						</ul>
						</div>
					</div>
					<div class="hidden" id="source">
						<div class="popover-heading">
						    Available Source 
						</div>

						<div class="popover-body">
						<ul class="nav nav-pills nav-stacked">
						{{#each sources}}
  							<li role="presentation" ><a href="{{{this.url}}}">{{this.title}}</a></li>
						{{/each}}
						</ul>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section><!--/#cta-->

    <section id="blog">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-8">
                    <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
	                    <div class="service-box wow fadeInRight">
	                        <div class="">
                                {{#if product}}
	                                <h2 class="media-heading">Product</h2>
	                                <p>{{ product }} - {{ productversion }}</p>
                                {{/if}}
	                        </div>
	                    </div>
	                    <div class="service-box wow fadeInRight">
	                        <div class="">
	                            <h2 class="">Devices</h2>
	                            <p>
								{{#each devices}}
	                            	{{this}}
	                            {{/each}}
	                            	
	                            </p>
	                        </div>
	                    </div>
	                    <div class="service-box wow fadeInRight">
	                        <div class="">
	                            <h4 class=""></h4>
	                            <p>{{{ contents }}}</p>
	                        </div>
	                    </div>

                    </div>
                </div><!--/.col-sm-6-->
                <div class="col-sm-4">
                	<div class="row">
                		<div class="col-sm-12">
						    <section id="main-slider">
						        <div class="owl-carousel">
						        	{{#each screenshots}}
						            <div class="item" >
						            	<img src="{{ ../url }}{{ this }}"/>
						                
						            </div><!--/.item-->
						            {{/each}}
						        </div><!--/.owl-carousel-->
						    </section><!--/#main-slider-->


            			</div>
                	</div>

				</div>                
            </div>
        </div>
    </section>    
<script type="text/javascript">
	$(document).ready(function() {
		$("[data-toggle=popover]").popover({
	        html : true,
	        content: function() {
	          var content = $(this).attr("data-popover-content");
	          return $(content).children(".popover-body").html();
	        },
	        title: function() {
	          var title = $(this).attr("data-popover-content");
	          return $(title).children(".popover-heading").html();
	        }
	    });
	});
</script>
{{> footer}}

