
{{> header}}

    <section id="search-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label for="query">Search:</label>
                                <input type="text" class="form-control" name="query" id="query" placeholder="Start typing something to search...">              
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </fieldset>
                    </form>             
                </div>
            </div>
        </div>
    </section>
    <script src="/js/searchengine.js"></script>   

    <script type="text/javascript">
    var json_data;
    var fuse;
    $.getJSON( "{{this.index}}", function( data ) {
      json_data = data;
      console.log("got data");
      fuse = new Fuse(json_data, { keys: ["title", "keywords"] });
    })
    $(document).ready(function() {
    });
</script>
{{> footer}}



       
 

       
   
     
       
     

    