
{{> header}}


    <section id="search-form" style="padding-top:50px;min-height:200px">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form id="search-form">
                        <fieldset>
                            <div class="input-group">
                                <span id="btn-search" class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" name="query" id="query" placeholder=""> 
                                <span id="btn-loading" class="input-group-addon"><i class="fa fa-refresh fa-spin"></i></span>
                                             
                            </div>
                            
                        </fieldset>
                    </form>             
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" id="search-results">
            
        </div>
    </section>
    <section>
        <div class="container" id="search-controls"  style="display:none;">
            <div class="row">
                 
                <div class="col-sm-12" id="page-controls">
         
                </div>  
                  
            
            </div>
            <div class="container" id="search-use-google">
                <div class="row">
                     
                    <div class="col-sm-6 col-sm-offset-3" id="page-controls">
                        <div class="alert alert-info" role="alert">
                            Did not find what you are looking for? <button id="btn-google" class="btn btn-primary">Use Google Site Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/searchengine.js"></script>   

    <script type="text/javascript">
        var json_data;
        var fuse;

        var pg = {
            current: 1,
            perpage: 20,
            first: true,
            last: false
        }
        var results = [];
        $.getJSON( "{{this.index}}", function( data ) {
          json_data = data;
          console.log("got data");
          fuse = new Fuse(json_data, { keys: ["title", "keywords"] });
        })
        $(document).ready(function() {
            $( "#btn-loading" ).hide();
            $( "#search-controls" ).hide();
            $( "#btn-search" ).click(function() {
              
              $("#btn-loading").show()
              $("#btn-search").hide();
              var query = $("#query").val();
              results = fuse.search(query);
              
              
              displayresults(1);
            });
            $( "#search-form" ).submit(function( event ) {
              event.preventDefault();
              $("#btn-loading").show()
              $("#btn-search").hide();
              
              var product_version = "{{this.index}}".replace("/index.json","");
                var q = $("#query").val();
                var url="https://www.google.com/search?q=site:techdocs.zebra.com" + product_version + "+"+q;
                window.open(url);

              /*var query = $("#query").val();
              console.log(query);
              results = fuse.search(query);
              
              
              displayresults(1);
              */
            });

            
            $("#btn-google").click(function(){
                var q = $("#query").val();
                var url="https://www.google.com/search?q=site:techdocs.zebra.com "+q;
                window.open(url);
            });
        });
        var displayresults = function (page){
                    pg.current = page;

                    pg.index_start = page* pg.perpage - pg.perpage;
                    pg.index_end = pg.index_start + pg.perpage - 1;
                    if(pg.index_end>results.length){
                        pg.index_end = results.length;
                    }
                    console.log(pg);
                    var html = "<p class='text-muted'>"+results.length+" results</p>";
                    for (var i = pg.index_start; i < pg.index_end; i++) {
                        var item = results[i];
                        html += "<div class='row'><div class='col-sm-12'>";
                        html +="<p><h4><a href='"+ item.url + "'>" + item.title + "</a></h4><p>";
                        html +="<p>" + item.summary + "</p>";
                        html += "</div></div>"
                    };
                    $( "#search-controls" ).show();
                    $("#search-results").html(html);
                    
                    

                    var html_page = '<nav><ul class="pagination">';
                    if(page==1){
                        // $("#btn-prev").hide();
                    }
                    else{
                        // $("#btn-prev").show();
                        html_page += '<li id="btn-prev"> <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
                    }
                    var pages = results.length/pg.perpage;
                    var active = ""
                    for (var i = 0; i < pages; i++) {
                        if(i+1 == pg.current){
                            active="active";
                        }
                        else{
                            active="";
                        }
                        html_page+='<li class="'+active+' pg"  data-page="'+(i+1)+'"><a >'+(i+1)+'</a></li>';
                    };
                    if(pg.index_end == results.length){
                        // $("#btn-next").hide();
                    }
                    else{
                        html_page += '<li id="btn-next"> <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
                        // $("#btn-next").show();
                    }
                        
                    html_page += '  </ul></nav>            ';
                    $("#page-controls").html(html_page);
                    $( "#btn-next" ).click(function() {
                      displayresults(pg.current+1);
                    });
                    $( "#btn-prev" ).click(function() {
                      displayresults(pg.current-1);
                    });
                    $( ".pg" ).click(function() {
                      displayresults($(this).data('page'));
                    });
                    $("#btn-loading").hide();
                    $("#btn-search").show();
                    $("html, body").animate({
                     scrollTop:0
                     },"slow");

                };

    </script>

{{> footer}}



       
 

       
   
     
       
     

    